/* Created by: Benjamin Abebe
* Created on: Mar 2025
* This file contains the CSS for index.html
*/


.mdl-layout__header-row {
  background-color: rgb(98, 0, 95);
  border-radius: 20px;
}


body {
  background-color: rgb(0, 108, 138);
}


img {
  float: right;
  height: 200px;
  border-radius: 20px;
}